<html>
<head>
    <title>Wrapped Repeats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="bg-dark">
    <h1 class="text-center text-light my-3">Wrapped Repeats</h1>
    <h5 class="text-center text-light my-3">Displaying data from Your Top Songs of {{ years_string }}.</h3>
    <p class="text-center text-light"> Expecting more years?
        <a class="text-light" href="{{ url_for('followmore') }}" style="text-decoration: none;">
            <button type="button" class="btn btn-sm btn-light mx-2">Click Here</button>
        </a>
    </p>
        <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th></th>
                <th>Name</th>
                <th>Artist</th>
                <th>Rank</th>
                <th>Ocurrences</th>
                <th>Years</th>
            </tr>
        </thead>
        {% for row in rows %}
            <tr>
                <td>{{ row['count'] }}</td>
                <td><img src="{{ row['image'] }}" alt="{{ row['name'] }} art" style="width: 48px; height: 48px;"></td>
                <td>{{ row['name'] }}</td>
                <td>{{ row['artist'] }}</td>
                <td>{{ row['rank'] }}</td>
                <td>{{ row['ocurrences'] }}</td>
                <td>{{ row['years'] }}</td>
            </tr>
        {% endfor %}
    </table>
    <h1 class="text-center text-light mt-4 mb-3">Additional Stats</h1>
    <p class="text-center text-light">
        Your favorite artist was {{ funStats['topArtist'][0]}} with {{ funStats['topArtist'][1]}} appearances.</br>
        Songs in your {{ funStats['topYear'][0]}} Wrapped were featured {{ funStats['topYear'][1]}} other times.</br>
        {% for tup in funStats['sharedRank'] %}
            {{ tup['name'] }} by {{ tup['artist'] }} was ranked exactly {{ tup['rank'] }} in both {{ tup['years'] }}.</br> 
        {% endfor %}
        {{ funStats['biggestGap'][0]}} by {{ funStats['biggestGap'][1]}} had the biggest gap between appearances with {{ funStats['biggestGap'][2]}} years between {{ funStats['biggestGap'][3]}}.
    </p>
    <button type="button" class="btn btn-lg text-light mt-4 mb-4" style="background-color: #1Db954; display: block; margin: auto;" onclick="buttonClicked()">Generate Playlist</button>
    <script>
        function buttonClicked() {
          fetch('/makeplaylist')
            .then(response => response.text())
            .then(text => {
              alert(text);
            });
        }
      </script>
</body>
</html>
