<html>
<head>
    <title>Wrapped Repeats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="bg-dark">
    <h1 class="text-center text-light my-3">Wrapped Repeats</h1>
    <a href="{{ auth_url }}}" style="text-decoration: none;">
        <button type="button" class="btn btn-lg text-dark mt-4 mb-4" style="background-color: #1Db954; display: block; margin: auto;">Login to Spotify</button>
    </a>
    
</body>
</html>
