{% extends 'base.html'%}

{% block content %}
    <div>
    <h1 class="text-center my-3">Repeat Receipts</h1>
    <div class = "infobox">
        Ever wonder which songs you keep coming back to year after year? Repeat Receipts has the answer. Now, you can effortlessly see which songs have shown up on multiple Wrapped playlists, along with their average ranking. Other features include playlist generation, a story shareable image, and additional stats for extra fun.
    </div>
    <div class="buttondiv">
        <a href="{{ auth_url }}}" style="text-decoration: none;">
            <button type="button" class="btn btn-lg mt-4 mb-4 login">Login to Spotify</button>
        </a>
    </div>
    <footer class="text-center" >
        <p class="footertext">Created by Brian Brown<br>
            <a href="https://github.com/bbrown430/repeatreceipts" class="footerlink" target="_blank">GitHub</a><a href="https://www.brianbrown.io/" class="footerlink" target="_blank">Portfolio</a></p>
      </footer>
{% endblock %}
